services:
  # 1. El Cerebro (Master)
  spark-master:
    image: apache/spark:3.5.1
    container_name: spark-master
    hostname: spark-master
    environment:
      - SPARK_MODE=master
    ports:
      - '8080:8080' # Interfaz Web del Master
      - '7077:7077' # Puerto de conexión del Clúster
    volumes:
      - ./data:/opt/spark/data

  # 2. El Trabajador 1
  spark-worker-1:
    image: apache/spark:3.5.1
    container_name: spark-worker-1
    depends_on:
      - spark-master
    environment:
      - SPARK_MODE=worker
      - SPARK_MASTER_URL=spark://spark-master:7077
    volumes:
      - ./data:/opt/spark/data

  # 3. El Trabajador 2
  spark-worker-2:
    image: apache/spark:3.5.1
    container_name: spark-worker-2
    depends_on:
      - spark-master
    environment:
      - SPARK_MODE=worker
      - SPARK_MASTER_URL=spark://spark-master:7077
    volumes:
      - ./data:/opt/spark/data
  
  # 4. Nuestro "Cliente" (La terminal donde TÚ vas a escribir)
  spark-client:
    image: apache/spark:3.5.1
    container_name: spark-client
    depends_on:
      - spark-master
    environment:
      - SPARK_MASTER_URL=spark://spark-master:7077
    volumes:
      - ./data:/opt/spark/data
    # Este comando mantiene el contenedor vivo, esperando tus órdenes
    entrypoint: tail -f /dev/null